body {
    margin: 0;
    text-align: center;
}

.header {
    margin-bottom: 1%;
    height: 400px;
    background-size: cover;
    background-position: center center;
}

.portfolio-info {
    margin: 0 auto;
    width: 80%;
    /* border: none; */
    padding-bottom: 25px !important;
}

.portfolio-info-box {
    text-align: left;
    width: 50%;
}

.pet-project-box {
    padding-top: 10px;
    padding-left: 5px;
}
